/*=============== FAVORITES ===============*/
.favorites{
   &__container{
      row-gap: 3rem;
      grid-template-columns: 100%;
      padding-bottom: 3rem;
   }
   &__data{
      position: relative;
      text-align: center;
   }
   &__cheese-1,
   &__cheese-2{
      width: 40px;
      position: absolute;
      opacity: .5;
   }
   &__cheese-1{
      top: 2rem;
      right: -1rem;
      rotate: -15deg;
   }
   &__cheese-2{
      bottom: -2rem;
      left: -.75rem;
      transform: scaleX(-1) rotate(45deg);
   }
   &__article{
      position: relative;
      width: 200px;
   }
   &__img{
      width: 200px;
      scale: .8;
      transition: scale .4s, filter .4s;
   }
   &__leaf-1,
   &__leaf-2{
      width: 70px;
      position: absolute;
      filter: var(--shadow-img);
      scale: 0;
      transition: scale .4s .1s;
   }
   &__leaf-1{
      top: -1rem;
      right: -.5rem;
   }
   &__leaf-2{
      bottom: -1rem;
      left: -.5rem;
   }
}

/* Swiper class */
.swiper {
   margin-inline: initial;
   overflow: visible;
}

:is(.swiper-slide-active, .swiper-slide-duplicate-active) .favorites__img{
   scale: 1;
   filter: var(--shadow-img);
}

:is(.swiper-slide-active, .swiper-slide-duplicate-active) .favorites__leaf-1,
:is(.swiper-slide-active, .swiper-slide-duplicate-active) .favorites__leaf-2{
   scale: 1;
}
